{{define "head"}}
    <style>
        .principal{ color: red;}
        hr{ border: 1px #ccc dashed;}
    </style>
{{end}}


{{define "content"}}
<!-- Banner -->
<section id="banner">
        <div class="content">
                <header>
                        <h1 class="preciosos">Preciosos</h1>
                        <p>Sistema formato de um app para idosos (preciosos), que acompanha individualmente cada idoso através de um login especial (líder discipulador) via web.</p>
                </header>
                <p>Durante a quarentena, a população idosa ficou impedida de ver familiares e de realizar as atividades diárias que possuíam. Com isso, a saúde mental de muitos se viu fragilizada, acometendo-os de medo, estresse e solidão. Muitos não possuíam a habilidade básica de comunicação pelas redes sociais, dificultando, ainda mais, a sua interação com a vida fora de casa. Que ações podem ser tomadas para que estes efeitos sejam minimizados na vida do idoso?</p>
                <ul class="actions">
                        <li><a href="https://docs.google.com/presentation/d/1BXm2HNW1eh9b9wU_JP_d342fmw4iCKRggohnpPkIkwc/edit?usp=sharing" class="button big">Apresentação</a></li>
                </ul>
        </div>
        <span class="image object">
                <img src="images/preciosos_logo.png" alt="" />
        </span>
</section>

<!-- Section -->
<!--
<section>
        <header class="major">
                <h2>Erat lacinia</h2>
        </header>
        <div class="features">
                <article>
                        <span class="icon fa-gem"></span>
                        <div class="content">
                                <h3>Portitor ullamcorper</h3>
                                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        </div>
                </article>
                <article>
                        <span class="icon solid fa-paper-plane"></span>
                        <div class="content">
                                <h3>Sapien veroeros</h3>
                                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        </div>
                </article>
                <article>
                        <span class="icon solid fa-rocket"></span>
                        <div class="content">
                                <h3>Quam lorem ipsum</h3>
                                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        </div>
                </article>
                <article>
                        <span class="icon solid fa-signal"></span>
                        <div class="content">
                                <h3>Sed magna finibus</h3>
                                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        </div>
                </article>
        </div>
</section>
-->

<!-- Section -->
<!--
<section>
        <header class="major">
                <h2>Ipsum sed dolor</h2>
        </header>
        <div class="posts">
                <article>
                        <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                        <h3>Interdum aenean</h3>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                        </ul>
                </article>
                <article>
                        <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                        <h3>Nulla amet dolore</h3>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                        </ul>
                </article>
                <article>
                        <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                        <h3>Tempus ullamcorper</h3>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                        </ul>
                </article>
                <article>
                        <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                        <h3>Sed etiam facilis</h3>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                        </ul>
                </article>
                <article>
                        <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
                        <h3>Feugiat lorem aenean</h3>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                        </ul>
                </article>
                <article>
                        <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
                        <h3>Amet varius aliquam</h3>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                        </ul>
                </article>
        </div>
</section>
-->
{{end}}
